# ExtremeKernel config file for enabling KSU
# add Susfs support

# Enable KSU
CONFIG_KSU=y
CONFIG_KSU_WITH_KPOBES=n
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_ALLOWLIST_WORKAROUND is not set
CONFIG_KSU_MANUAL_HOOK=y

# Enable KSU SuSFS
CONFIG_KSU_TAMPER_SYSCALL_TABLE=y
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_MAP=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y
